#footer
  .left-nav
    %ul
      %li
        %a{href: "/about"} Who we are
      %li
        %a{href: "/philosophy"} Our philosophy
      %li
        %a{href: "/jobs"} Jobs / careers
    %ul
      %li
        %a{href: "/contact_us"} Contact Us
      %li
        %a{href: "/shipping"} Shipping and delivery
      %li
        %a{href: "/returns"} Returns
      %li
        %a{href: "/help"} Help/FAQ
    %ul
      %li
        %a{href: "/blog"} Bee Blog
      %li
        %a{href:  "//facebook.com", title: "Like us on Facebook!"} Visit us on Facebook
      %li
        %a{href: "//twitter.com/#!/mellibee", title: "Follow us on Twitter!"} Visit us on Twitter
    %ul
      %li
        %a{href: "/designers"} For designers
    %ul
      %li
        %a{href: "/terms"} Terms of use
      %li
        %a{href: "/privacy"} Privacy notice
  .right-nav
    %small Mellibee.com 
    %span.copyright &copy; 2012
