#footer
  %ul.left-nav
    %li
      %a{href: "/about"} About
    %li
      %a{href: "/jobs"} Jobs
    %li
      %a{href: "/blog"} Blog
    %li
      %a{href: "/help"} Help/FAQ
    %li
      %a{href: "/contact_us"} Contact Us
    %li
      %a{href: "/terms"} Terms
    %li
      %a{href: "/privacy"} Privacy
  %ul.right-nav
    %li
      %a{href: "//twitter.com/#!/mellijar", title: "Follow us on Twitter!"}
        %img{src: "", width: "", height: ""}
    %li
      %a{href:  "//facebook.com", title: "Like us on Facebook!"}
        %img{src: "", width: "", height: ""}
    %li
      %a{href: "//", title: "Need to figure out another social network to use"}
        %img{src: "", width: "", height: ""}
    %li
      %small Mellibee.com &copy; = copyright_footer
