#header
  %ul.left-nav
    %li
      %a{href: "/"}
        %span Melli Bee
    %li
      %a{href: "/favorites"}
        %span My Favorites
    %li
      %a{href: "/invite"}
        %span Invite
    %li
      %a{href: "/blog"}
        %span Blog
  %ul.right-nav
    %li
      %a{href: "/cart"}
        %span Cart
    %li
      %a{href: "/account"}
        %span= @account.name
